.product-list-page {
    /* padding: 20px; */
  }
  
  .page-title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  